{% extends "network/layout.html" %}

{% block body %}
    <h1>All posts made by users I follow</h1>    

    {% for post in posts %}
        <div id="posts">
            <a href="{% url 'profile' post.user.username %}">
                <h2>{{ post.user.username }}</h2>
            </a>
            <p>Edit</p>
            <p>{{ post.content }}</p>
            <p class="light_font_weight">{{ post.creation_datetime }}</p>
            <p class="light_font_weight">Like {{ post.likes }}</p>
            <p class="light_font_weight">Comment</p>
        </div>
    {% endfor %}

{% endblock %}