{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>

    {% if user.is_authenticated %}
        <div id="new_post">
            <form action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                <label for="post">New Post</label><br>
                <textarea id="post" name="post"></textarea><br>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    {% for post in posts %}
        <div id="posts">
            <h2>{{ post.user.username }}</h2>
            <p>Edit</p>
            <p>{{ post.content }}</p>
            <p class="light_font_weight">{{ post.creation_datetime }}</p>
            <p class="light_font_weight">Like {{ post.likes }}</p>
            <p class="light_font_weight">Comment</p>
        </div>
    {% endfor %}
    
{% endblock %}