{% extends "network/layout.html" %}
{% load static %}

{% block js %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    {% if page_name == "index" %}
        <h1>All Posts</h1>
    {% else %}
        <h1>All posts made by users I follow</h1>
    {% endif %}

    {% if user.is_authenticated and page_name == "index" %}
        <div id="new_post">
            <form action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                <label for="post">New Post</label><br>
                <textarea id="post" name="post"></textarea><br>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}
                    
    {% for post in page_obj.object_list %}
        <div class="posts">
            <a href="{% url 'profile' post.user.username %}"><h2>{{ post.user.username }}</h2></a>
            {% if post.user == user %}
                <button class="edit_button" type="button">Edit</button>
            {% endif %}
            <div class="content">{{ post.content }}</div> 
            {% if post.user == user %}
                <button class="save_button" type="button">Save</button>
                <div class="post_id">{{post.id}}</div>
            {% endif %}
            <p class="light_font_weight">{{ post.creation_datetime }}</p>
            <p class="light_font_weight">Like {{ post.likes }}</p>
            <p class="light_font_weight">Comment</p>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url page_name %}?page={{ page_obj.previous_page_number }}">Previous</a></li>            
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url page_name %}?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    
{% endblock %}