{% extends "network/layout.html" %}

{% block body %}

<h1>{{ this_user }}</h1><br>

{% if user.is_authenticated and user.username != this_user.username %}    
    {% if this_user in user.following %}
        <a href="{% url 'unfollow' this_user.username %}">Unfollow</a>
    {% else %}
        <a href="{% url 'follow' this_user.username %}">Follow</a> 
    {% endif %}           
{% endif %}

<div>
    <h2>Followers and Following:</h2>
    <p>{{ this_user.username }} has {{ followers_count }} followers</p>
    <p>{{ this_user.username }} follows {{ following_count }} people</p>
</div>

<div>
    <h2>Posts:</h2>
    {% for post in posts %}
        <div id="posts">        
            <p>Edit</p>
            <p>{{ post.content }}</p>
            <p class="light_font_weight">{{ post.creation_datetime }}</p>
            <p class="light_font_weight">Like {{ post.likes }}</p>
            <p class="light_font_weight">Comment</p>
        </div>
    {% endfor %}
</div>

{% endblock %}