{% extends "network/layout.html" %}
{% load static %}

{% block js %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>{{ this_user }}</h1><br>

    {% if user.is_authenticated and user.username != this_user.username %}    
        {% if this_user in following_list %}
            <a href="{% url 'unfollow' this_user.username %}">Unfollow</a>
        {% else %}
            <a href="{% url 'follow' this_user.username %}">Follow</a> 
        {% endif %}           
    {% endif %}

    <div>
        <h2>Followers and Following:</h2>
        <p>{{ this_user.username }} has {{ followers_count }} followers</p>
        <p>{{ this_user.username }} follows {{ following_count }} people</p>
    </div>

    <div>
        <h2>Posts:</h2>
        {% for post in posts %}
            <div class="posts">        
                {% if post.user == user %}
                    <button class="edit_button" type="button">Edit</button>
                {% endif %}
                <div class="content">{{ post.content }}</div>
                {% if post.user == user %}
                    <button class="save_button" type="button">Save</button>                    
                {% endif %}
                <p class="light_font_weight">{{ post.creation_datetime }}</p>
                {% if user.is_authenticated %}
                    {% if post in liked_posts %}
                        <button class="like_button" type="button">Unlike</button>
                    {% else %}
                        <button class="like_button" type="button">Like</button>
                    {% endif %}
                    <div class="post_id">{{post.id}}</div>
                {% endif %}
                <p class="light_font_weight">Likes: </p>
                <p class="likes light_font_weight">{{ post.likes }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}